ScrapingandGeocoding.pptx
beer_restaurants.csv
beeradvocate_id.csv
beerdata.zip
beermenu_id.csv
beertext.txt
html_files
updated_beeradvocate.csv
updated_beeradvocate_1.csv
updated_beermenu (1).csv
updated_beermenu.csv
updated_beermenu_1.csv
